Repository Armor-test/search-agent-713, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-reporting, @Armor-test/unit-cloud, @Armor-test/squad-frontend, @Armor-test/squad-search, @Armor-test/squad-tooling, @Armor-test/squad-api, @Armor-test/grp-payments, @Armor-test/dept-notifications, @Armor-test/unit-devops, @Armor-test/dept-release, @Armor-test/dept-test, @Armor-test/squad-mobile, @Armor-test/squad-qa, @Armor-test/unit-design, @Armor-test/dept-api, @Armor-test/dept-data, @Armor-test/grp-search, @Armor-test/dept-security, @Armor-test/squad-cloud, @Armor-test/dept-reliability, @Armor-test/squad-ml, @Armor-test/squad-ux, @Armor-test/grp-ui, @Armor-test/team-logging, @Armor-test/squad-research, @Armor-test/team-security, @Armor-test/squad-payments, @Armor-test/team-reporting, @Armor-test/unit-test, @Armor-test/squad-cache, @Armor-test/squad-database, @Armor-test/dept-identity, @Armor-test/grp-storage, @Armor-test/squad-reporting, @Armor-test/squad-apps, @Armor-test/team-governance, @Armor-test/dept-billing, @Armor-test/team-core, @Armor-test/devops, @Armor-test/infra, @Armor-test/security, @Armor-test/auth-team, @Armor-test/compliance

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/dept-reporting, @Armor-test/squad-search, @Armor-test/squad-tooling

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-api, @Armor-test/dept-data, @Armor-test/grp-search

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-cloud, @Armor-test/dept-reliability, @Armor-test/grp-search

Add src/main.py
  src/main.py
Owners: @Armor-test/dept-reporting, @Armor-test/squad-search, @Armor-test/squad-tooling

Add src/index.js
  src/index.js
Owners: @Armor-test/grp-storage, @Armor-test/squad-reporting

.github/CODEOWNERS:

# CODEOWNERS file for search-agent-713
# Global owners - will be requested for all PRs
* @Armor-test/dept-reporting @Armor-test/unit-cloud @Armor-test/squad-frontend

# Directory ownership
/src/ @Armor-test/dept-reporting @Armor-test/squad-search @Armor-test/squad-tooling
/config/ @Armor-test/squad-api @Armor-test/grp-payments @Armor-test/dept-reporting
/dist/ @Armor-test/dept-notifications @Armor-test/unit-devops @Armor-test/dept-release
/extensions/ @Armor-test/dept-test @Armor-test/unit-cloud
/shared/ @Armor-test/squad-mobile @Armor-test/squad-qa @Armor-test/unit-design
/docs/ @Armor-test/dept-api @Armor-test/dept-data @Armor-test/grp-search
/styles/ @Armor-test/dept-security @Armor-test/unit-design @Armor-test/squad-frontend
/test/ @Armor-test/squad-cloud @Armor-test/dept-reliability @Armor-test/grp-search
/pages/ @Armor-test/squad-frontend @Armor-test/squad-ml @Armor-test/squad-ux
/hooks/ @Armor-test/squad-frontend @Armor-test/grp-ui
/internal/ @Armor-test/team-logging @Armor-test/squad-research @Armor-test/team-security
/security/ @Armor-test/grp-ui @Armor-test/squad-payments
/components/ @Armor-test/team-reporting @Armor-test/unit-test

# File type ownership
*.ts @Armor-test/squad-cache @Armor-test/unit-devops
*.json @Armor-test/squad-database @Armor-test/squad-search
*.yml @Armor-test/dept-identity @Armor-test/dept-notifications
*.html @Armor-test/unit-test @Armor-test/grp-payments
*.cpp @Armor-test/grp-payments @Armor-test/squad-research
*.scala @Armor-test/squad-payments @Armor-test/unit-design
*.cs @Armor-test/squad-qa @Armor-test/squad-search @Armor-test/dept-test
*.ini @Armor-test/grp-ui @Armor-test/squad-cloud
*.jsx @Armor-test/dept-data @Armor-test/unit-cloud @Armor-test/grp-payments
*.js @Armor-test/grp-storage @Armor-test/squad-reporting
*.tsx @Armor-test/squad-apps @Armor-test/team-governance @Armor-test/squad-qa
*.sh @Armor-test/squad-cache @Armor-test/dept-billing
*.go @Armor-test/dept-notifications @Armor-test/squad-database @Armor-test/team-core

# Security and special files
Dockerfile @Armor-test/devops @Armor-test/infra
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
/src/**/security/ @Armor-test/security @Armor-test/compliance
